@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --charcoal: #2a3d45;
    --off-white: #f6ffff;
    --strong-blue: #2982ac;
    --pale-blue: #2982ac;
    --circuit-blue: #4f5f77;
    --footer-height: 80px;
    }
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    height: 100%;
}
body .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
body .textbody {
    background-color: var(--off-white);
    color: var(--charcoal);
    padding: 15px;
    text-align: center;
}
footer {
    font-family: 'Roboto';
    background-color: var(--charcoal);
    color: grey;
    height: var(--footer-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Nunito';
    text-transform: uppercase;
    color: var(--circuit-blue);
    background-color: white;
    padding: 15px;
    border: solid white;
}
#comingsoon {
    background-image: url("/static/images/circuitboard-background.jpg");
}
#minecraft {
    background-image: url("/static/images/minecraft-background.jpg")
}
.logo { 
    width: 32px;
    height: 32px;
}
.button {
    font-family: 'Roboto';
    background-color: var(--circuit-blue);
    color: var(--off-white);
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-style: solid;
    border-color: var(--circuit-blue);
    border-width: 2px;
}
.button:hover {
    background-color: var(--off-white);
    color: var(--circuit-blue);
}