@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --charcoal: #2a3d45;
    --off-white: #f6ffff;
    --strong-blue: #2982ac;
    --pale-blue: #2982ac;
    --circuit-blue: #364e71;
    }
html, body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}
.page {
    min-height: 90vh;
    min-width: 90vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.verticalcontainer {
    flex-direction: column;
}
.horizontalcontainer {
    flex-direction: row;
}
h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: max(min(5vw, 5vh), 20px);
    margin: 0;
    padding-top: max(5vh, 10px);
    padding-bottom: max(5vh, 10px);
    text-transform: uppercase;
    color: var(--circuit-blue);
}
.content {
    background-color: var(--off-white);
    padding-top: max(10vh, 10px);
    padding-bottom: max(10vh, 10px);
    padding-right: max(10vw, 5px);
    padding-left: max(10vw, 5px);
}
.icon {
    height: 10vh;
    width: auto;
    min-height: 35px;
}
#indexpage {
    background-image: url("/static/images/circuitboard-background-blurred.jpg");
}
#avatar {
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
    min-height: 140px;
    min-width: 140px;
}
#social {
    width: 100%;
}
/*
.button {
    font-family: 'Roboto', sans-serif;
    background-color: var(--circuit-blue);
    color: var(--off-white);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-style: solid;
    border-color: var(--circuit-blue);
    border-width: 2px;
}
.button:hover {
    background-color: var(--off-white);
    color: var(--circuit-blue);
}
*/