@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
h1 {
  font-family: 'Cutive Mono';
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}