<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Theo Brown</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/face.jpg" />
</head>

<body>
    <div class="container vcontainer page">
        <div class="container vcontainer content">
            <a href="/"><img id="avatar" src="/static/images/face.jpg" alt="Profile picture"></a>
            <h1>
                Theo Brown
            </h1>
            <p>
                Information Engineering master's student at the University of Cambridge.
                Currently researching reinforcement learning for tokamak plasma control with UKAEA.
                Interested in Bayesian inference, physics-informed & interpretable machine learning, control, nuclear
                fusion, and climate modelling.
            </p>
            <div class="container hcontainer iconbar">
                <div class="container iconcontainer">
                    <a href="https://github.com/theo-brown">
                        <img class="icon" src="/static/images/icons/github-circuitblue.png" alt="GitHub">
                    </a>
                </div>
                <div class="container iconcontainer">
                    <a href="https://www.linkedin.com/in/theo-brown-uk">
                        <img class="icon" src="/static/images/icons/linkedin-circuitblue.png" alt="LinkedIn">
                    </a>
                </div>
                <div class="container iconcontainer">
                    <a href="/cv">
                        <img class="icon" src="/static/images/icons/cv-circuitblue.png" alt="CV">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>