<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/main.css" />
        <title>Theo Brown</title>
        <link rel="shortcut icon" type="image/jpg" href="/static/images/face.jpg"/>
    </head>
    <body>
        <div class="vcontainer page" id="indexpage">
            <div class="vcontainer content">
                <img id="avatar" src="/static/images/face.jpg" alt="Profile picture">
                <h1 id="name">
                    Theo Brown
                </h1>
                <div class="hcontainer iconbar">
                    <div class="iconcontainer">
                        <a href="https://github.com/theo-brown">
                            <img class="icon" src="/static/images/icons/github-circuitblue.png" alt="GitHub">
                        </a>
                    </div>
                    <div class="iconcontainer">
                        <a href="https://www.linkedin.com/in/theo-brown-uk">
                            <img class="icon" src="/static/images/icons/linkedin-circuitblue.png" alt="LinkedIn">
                        </a>
                    </div>
                    <div class="iconcontainer">
                        <a href="/cv">
                            <img class="icon" src="/static/images/icons/cv-circuitblue.png" alt="CV">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
