<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css"}>
        <title>Theo Brown</title>
    </head>
    <body>
        <div class="container">
            <div id="banner">
                <h1> Coming Soon </h1>
                <div id="social">
                    <a href="https://github.com/theo-brown">
                        <img class="logo" src="/static/images/github-icon-120.png">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>