<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css"/>
        <title>OnePlace Minecraft Server</title>
    </head>
    <body>
        <div class="container" id="minecraft">
            <div class="container">
                <div class="textbody">
                    <h1>OnePlace Minecraft Server</h1>
                    <p style={{ "color: red" if MinecraftStatus == 'Inactive' else "color: green" }}>
                        Status: {{ MinecraftStatus }}
                    </p>
                    <br>
                    <form method="post">
                        <input type="submit", class="button", id="startstopbutton", value="{{ MinecraftButtonText }}">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
